@charset "UTF-8";

:root {
    --brand: #00d1b2;
    --dark: #363636;
    --grey: #f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
    
    background-repeat: no-repeat;
    background-size: 100%;

}

/* Flexbox no Header*/

.container { max-width: 1200px; margin: 0 auto; padding: 0 20px;
}

.flex-header {
    display: flex;
    justify-content: space-between; /* Empurra logo para esquerda e nav para direita */
    align-items: center; /* Centraliza verticalmente  */
    height: 80px;
   
}

header {
    background-color: rgba(198, 227, 217, 0.399);
    padding: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
   
    

}

 header h1 {
    color: var(--brand);
  
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between; /* Título esquerda, Nav direita */
    align-items: center;
    padding: 10px  5%;
}

/*  Removendo as bolinhas e alinhando os links em linha */

.navbar  ul {
    display: flex;
    list-style: none;
    gap:  20px; /* Epaços entre  cada  link  */
    margin: 0;
    padding: 0;
}

nav a{

  text-decoration: none; 
  color: #60d0a7c8; 
  font-family: verdana;
  font-weight: bold;
 
 
}

/* Layout Principal com Flexbox Flexível */
.imcwraper {
    display: flex;
   /* Padrão Mobile: um abaixo do outro  */
    gap: 30px;
    margin-top: 50px;

}

.imcbox {
    flex: 1; /* Faz com que ambos os boxes ocupem o mesmo espaço */
    padding: 40px;
    flex-direction: column;
    
    border-radius: 15px;
    background: white;
    box-shadow: 0 10px 25px rgba(137, 84, 84, 0.05);
}

main {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;

}


 main h2 {
    font-size: 29px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #00d1b2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.8;
}

article input  {
    height: 40px;
    width: 270px;
    border: 3px solid #00d1b2;
    margin-bottom: 12px;
    padding: 10px;
}

::placeholder {
    font-size: 20px;
}

article button { 
    height: 40px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #00d1b2;
    background-color: #00d1b2;
    color: white;

}





/* --- Media Queries (Responsividade de verdade) --- */

/* Quando a tela for maior que 768px (Tablets e Desktops) */
@media (min-width: 768px) {
    .imc-wraper {
        flex-direction: row; /* Muda de coluna para linha no Desktop */
        align-items: stretch; /* Garante que ambos a mesma altura */

    }
} 

/* Ajustes de tipografia via Media query  */
@media (max-width: 480px)  {
    .logo { font-size: 1.2rem; }
    .imc-box { padding: 20px;}
}


